body {
  margin: 16px;
  line-height: 1.5;
  color: #2a2a2a;
  background-color: #f5f5f5;
}

img {
  display: block;
  max-width: 100%;
}
.separador {
  background-color: lightblue;
  min-height: 2000px;
}

.blur-up {
  filter: blur(15px);
  transition: filter 1000ms;
}

.blur-up.lazyloaded {
  filter: blur(0);
}
